body {
  background-color: #d9d9d9;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin: auto;
  margin-top: 20px;
  width: 70%;
}

.block-one {
  grid-column: 1;
  background: linear-gradient(#7132a1, #fcfdfe);
  padding: 10px;
}

.title {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.text-red {
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.text-body {
  color: black;
  font-size: 20px;
}

.text-bold {
  font-size: 20px;
  font-weight: bold;
}

.block-two {
  grid-column: 2;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
